.layout{
    width: 80%;
    margin: 0 auto;
}


.flex{
    display: flex;
}

.space-between{
     justify-content: space-between;
}

.align-center{
    align-items: center;

}

.justify-center{
     justify-content: center;
}

.f-w-500{
    font-weight: 700;
}

.f-w-600{
    font-weight: 500;
}

.f-w-700{
    font-weight: 600;
}





.flex2{
    flex: 5;

}
  
.flex3{
    flex: 3;
}

.my-t-10{
   margin-top: 20px;
}

.my-t-20{
    margin-top: 10px;

}

.text-left{
    text-align: left;
}

.text-center{
    text-align: left;
}
 


























     
